# ─────────────────────────────────────────────────────────────
#  Variables para docker-compose.override.yml
#  Copiar como .env en el proyecto y completar
# ─────────────────────────────────────────────────────────────

# Ruta a tu devbox (donde están las ssh-host-keys y nvim/)
DEVBOX_PATH=/srv/datos/dev/devbox

# Tu usuario dentro del contenedor
DEV_USERNAME=jhonayo

# Puerto SSH para tu acceso personal
SSH_PORT=2223

# Tu clave pública
SSH_AUTHORIZED_KEYS_PATH=/home/jhonayo/.ssh/authorized_keys

# Timezone
TIMEZONE=America/Santiago
